<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dane_dostawy.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Dane dostawy</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
        <a href="/klienci/edytuj">
            <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
        </a>
    </div>
    <div class="logo-container">
        <a href="/home">
            <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="icon-container-right">
        <a href="/koszyk">
            <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">
        </a>
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <a href="/Produkt/lista2/4">Bluzy</a>
    <a href="/Produkt/lista2/3">Kurtki</a>
    <a href="/Produkt/lista2/1">Koszulki</a>
    <a href="/Produkt/lista2/2">Spodnie</a>
    <a href="/Produkt/lista2">Przeglądaj wszystko</a>
</div>

<div class="container">
    <form id="delivery-form" th:action="@{/DaneDostawy/submitDaneDostawy}" method="post">
        <h2>Podaj dane dostawy</h2>
        <div class="delivery-details">
            <div class="left-section">
                <input type="text" placeholder="Imię" th:value="${klient.imie}">
                <input type="text" placeholder="Nazwisko" th:value="${klient.nazwisko}">
                <input type="text" name="ulica" placeholder="Ulica" th:if="${adres != null}" th:value="${adres.ulica}">
                <input type="text" name="nrDomu" placeholder="Nr domu" th:if="${adres != null}" th:value="${adres.nrDomu}">
                <input type="text" name="nrMieszkania" placeholder="Nr mieszkania" th:if="${adres != null}" th:value="${adres.nrMieszkania}">
                <input type="text" name="kodPocztowy" placeholder="Kod pocztowy" th:if="${adres != null}" th:value="${adres.kodPocztowy}">
                <input type="text" name="miejscowosc" placeholder="Miejscowość" th:if="${adres != null}" th:value="${adres.miejscowosc}">
                <input type="text" name="kraj" placeholder="Kraj" th:if="${adres != null}" th:value="${adres.kraj}">
                <input type="text" placeholder="Telefon" th:value="${klient.telefon}">
                <input type="text" placeholder="E-mail" th:value="${klient.email}">
            </div>
            <div class="right-section">
                <p class="text-way">Wybierz sposób płatności:</p>
                <input type="radio" id="option1" name="option" value="Przelew">
                <label for="option1">Przelew</label><br>
                <input type="radio" id="option2" name="option" value="Karta">
                <label for="option2">Karta</label><br>
                <input type="radio" id="option3" name="option" value="BLIK">
                <label for="option3">BLIK</label><br>

                <p class="text-way">Wybierz spoób dostawy:</p>

                <input type="radio" id="option4" name="option2" value="option4" data-price="0">
                <label for="option4">Odbiór osobisty</label><span class="price">0 PLN</span><br>

                <input type="radio" id="option5" name="option2" value="option5" data-price="19.99">
                <label for="option5">Paczkomaty InPost</label><span class="price">19.99 PLN</span><br>

                <input type="radio" id="option6" name="option2" value="option6" data-price="24.99">
                <label for="option6">Kurier DPD</label><span class="price">24.99 PLN</span><br>
                <hr>

                <div class="option-block">
                    <p class="text-way">Suma:</p>
                    <div class="price">
                        <p id="total-price" th:text="'' + ${sumaCen} + ' PLN'">0.00 PLN</p>
                    </div>
                </div>
                <button type="submit">Zatwierdź</button>
            </div>
        </div>
    </form>
</div>

<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const optionElements = document.querySelectorAll('input[name="option2"]');
        const totalPriceElement = document.getElementById('total-price');
        let basePrice = parseFloat(totalPriceElement.textContent.replace(' PLN', '').trim());

        optionElements.forEach(function (option) {
            option.addEventListener('change', function () {
                const selectedOptionPrice = parseFloat(this.getAttribute('data-price'));
                const newTotalPrice = basePrice + selectedOptionPrice;
                totalPriceElement.textContent = newTotalPrice.toFixed(2) + ' PLN';
            });
        });
    });

    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>
