<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/edytuj_dane_pracownika.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Edytuj dane pracownika</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
<!--        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->
    </div>
    <div class="logo-container">
        <a href="/Pracownik/administrator">
            <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="icon-container-right">
<!--        <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">-->
        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </div>
</div>

    <div class="navbar-line"></div>

<p class="account-text">Edytuj dane pracownika</p>

<div class="container">
    <form action="#" th:object="${pracownikEdit}" method="post">
        <div class="column">
            <input type="text" placeholder="Imię" th:field="*{imie}">
            <input type="text" placeholder="Nazwisko" th:field="*{nazwisko}">
            <input type="text" placeholder="Login" th:field="*{login}">
            <input type="password" placeholder="Hasło" th:field="*{haslo}" id="haslo">
            <input type="password" placeholder="Potwierdź hasło" id="potwierdzHaslo">
            <select name="role" id="role" th:field="*{dzial}">
                <option value="admin">Administrator</option>
                <option value="employee">Pracownik Działu zamówień</option>
            </select>
            <div class="buttons">
                <button type="submit" id="save-button" onclick="return sprawdzHasla()">Zapisz zmiany</button>
                <a th:href="@{/Pracownik/lista}"><button type="button" id="cancel-button">Anuluj</button></a>
            </div>
        </div>
    </form>
</div>

<script>
    function sprawdzHasla() {
        var haslo = document.getElementById("haslo").value;
        var potwierdzHaslo = document.getElementById("potwierdzHaslo").value;
        if (haslo !== potwierdzHaslo) {
            alert("Hasło i potwierdzenie hasła są różne!");
            return false; // Przerwij wysyłanie formularza
        }
        return true; // Kontynuuj wysyłanie formularza
    }
</script>




<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>
