<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/koszyk.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Koszyk</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
<!--        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->
    </div>
    <div class="logo-container">
        <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </div>
    <div class="icon-container-right">
        <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">
        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <a href="#">Odnośnik 1</a>
    <a href="#">Odnośnik 2</a>
    <a href="#">Odnośnik 3</a>
    <a href="#">Odnośnik 4</a>
    <a href="/Produkt/lista2">Przeglądaj wszystko</a>
</div>

<p class="shop-text">Koszyk</p>

<!-- Pętla dla każdego produktu w koszyku -->
<div th:each="koszyk : ${Koszyk}" class="shop">
    <img crossorigin="anonymous" th:src="@{${koszyk.produkt.urlzdjecia}}" class="image">
    <div class="product-text">
        <p class="product-title" th:text="${koszyk.produkt.nazwa}"></p>
        <p class="product-price" th:text="'Cena: ' + ${koszyk.produkt.cena} + ' zł'"></p>
        <p class="product-quantity" th:text="'Ilość: ' + ${koszyk.ilosc}"></p>
    </div>
    <div class="delete-button-container">
        <form th:action="@{'/koszyk/usun/' + ${idKlienta} + '/' + ${koszyk.produkt.idProduktu}}" method="post">
            <button type="submit" class="close-button">
                <img src="/Grafiki/bin.png" alt="Usuń ikonę">
            </button>
        </form>
    </div>
</div>

<!-- Pętla dla każdego produktu w koszyku -->
<div th:each="CenaKoszyka : ${CenaKoszyka}" class="shop">
    <!-- Kod dla produktu -->
</div>

<!-- Wyświetl suma cen produktów w koszyku -->
<div class="sum">
    <div class="option-block">
        <p>Suma:</p>
        <div class="price">
            <p th:text="'' + ${sumaCen} + ' zł'"></p>
        </div>
    </div>
    <!-- Przycisk do potwierdzenia zakupu -->
    <button type="submit" class="button-confirm">Zatwierdź</button>
</div>




<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    // Funkcja do usuwania produktu z koszyka
    function usunZKoszyka(idKlienta, idProduktu) {
        // Wywołaj odpowiedni kontroler do usunięcia produktu z koszyka
        // Możesz użyć AJAX lub przekierowania, w zależności od preferencji
    }

    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>