<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lista_pracownikow.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Lista pracowników</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
        <!--        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->
    </div>
    <div class="logo-container">
        <a href="/Pracownik/administrator">
            <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="icon-container-right">
        <a href="/logowanie">
            <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
        </a>
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <button>
        <a class="order-section" href="/Pracownik/lista">Zarządzanie pracownikami</a>
    </button>
    <button>
        <a class="order-section" href="/Recenzja/lista">Zarządzanie recenzjami</a>
    </button>
</div>

<p class="employee-text">Lista pracowników</p>

<div th:each="pracownik : ${pracownikList}">
    <div class="container">
        <div class="employee-info">
            <div class="left-info">
                <p th:text="${pracownik.imie} + ' ' + ${pracownik.nazwisko}"></p>
                <p th:text="'Login: ' + ${pracownik.login}"></p>
                <p th:text="'Hasło: ' + ${pracownik.haslo}"></p>
                <p th:text="'Rola: ' + ${pracownik.getRoleName()}"></p>
            </div>

            <div class="right-info">
                <p class="edit-button">
                    <a th:href="@{edytuj/{pracownikId}(pracownikId=${pracownik.idPracownika})}">Edytuj</a>
                    <button class="delete-button" th:attr="onclick='deletePracownik(\'' + ${pracownik.idPracownika} + '\')'">&#10006;</button>
                </p>
            </div>

        </div>
    </div>
</div>

<div class="add-employee-container">
    <a class="add-employee-button" href="/Pracownik/dodajform">Dodaj pracownika</a>
</div>

<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>
<script>
    function deletePracownik(pracownikId) {
        if (confirm("Czy na pewno chcesz usunąć tego pracownika?")) {
            fetch('/Pracownik/usun/' + pracownikId, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert("Pracownik został usunięty.");
                        // Przekierowanie na listę pracowników
                    } else {
                        window.location.href = 'http://localhost:8081/Pracownik/lista';
                    }
                })
                .catch(error => {
                    alert("Wystąpił błąd: " + error.message);
                });
        }
    }
</script>

</body>
</html>
