<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/lista_produktow.css">
  <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
  <title>Lista produktów</title>
</head>
<body>
<div id="produkty-container">
<div class="header">
  <div class="icon-container-left">
<!--    <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->
  </div>
  <div class="logo-container">
    <a href="/Pracownik/dzialzamowien">
      <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </a>
  </div>
  <div class="icon-container-right">
<!--    <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">-->
    <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
  </div>
</div>
  <div class="navbar-line"></div>
<div class="tytul">Lista produktów</div>

<div class="przyciski">

  <div class="przyciski">

    <a class="button" href="/Produkt/lista/4">Bluzy</a>
    <a class="button" href="/Produkt/lista/3">Kurtki</a>
    <a class="button" href="/Produkt/lista/1">Koszulki</a>
    <a class="button" href="/Produkt/lista/2">Spodnie</a>
    <a class="button" href="/Produkt/lista">Wszystko</a>
  </div>

<!--  <div class="navbar">-->
<!--    <div class="button"></div>-->
<!--    <a href="/Produkt/lista/4">Bluzy</a>-->
<!--    <a href="/Produkt/lista/3">Kurtki</a>-->
<!--    <a href="/Produkt/lista/1">Koszulki</a>-->
<!--    <a href="/Produkt/lista/2">Spodnie</a>-->
<!--    <a href="/Produkt/lista">Przeglądaj wszystko</a>-->
<!--  </div>-->


</div>


<!--<div id="produkty-container">-->
  <div th:each="produkt : ${produktList}" class="produkt">
  <div class="daneproduktu">
    <img crossorigin="anonymous" th:src="@{${produkt.urlzdjecia}}" class="obrazek">
<!--    <img crossorigin="anonymous" src="https://drive.lienuc.com/uc?id=13L8s3HfqP2x06cmDJGM6QCD2jR9WvkXO" alt="" class="obrazek">-->
    <div class="produkttekst">
      <p th:text="'Nazwa: ' + ${produkt.nazwa}" class="tytulproduktu">  <span class="edytuj">(edytuj)</span></p>
      <p th:text="'Cena: ' + ${#numbers.formatDecimal(produkt.cena, 2, 'COMMA', 2, 'POINT')} + ' PLN'" class="cenaproduktu"></p>
      <p class="dostepnerozmiary">Dostępne rozmiary:   <span class="edytuj"></span></p>

<!--      <div class="rozmiar">-->
<!--        <p class="rozmiarxxs">XXS</p>-->
<!--        <p class="rozmiarxs">XS</p>-->
<!--        <p class="rozmiars">S</p>-->
<!--        <p class="rozmiarm">M</p>-->
<!--        <p class="rozmiarl">L</p>-->
<!--        <p class="rozmiarxl">XL</p>-->
<!--      </div>-->
      <div class="rozmiar">
        <p th:text="${produkt.rozmiar}" class="rozmiarx"></p>
      </div>

    </div>
<!--    <div class="usun">-->
<!--      <button class="close" th:attr="onclick='deleteProdukt(\'' + ${produkt.idProduktu} + '\')'">&#10006;</button>-->
    <a class="edit-button" th:href="@{'/Produkt/edytuj/' + ${produkt.idProduktu}}">
    </a>

    <button class="close-button" th:attr="onclick='deleteProdukt(\'' + ${produkt.idProduktu} + '\')'">&#10006;</button>
      <!--      <img src="close.png" class="close">-->
<!--    </div>-->
  </div>
  </div>
<!--</div>-->

<script>
  function deleteProdukt(produktId) {
    if (confirm("Czy na pewno chcesz usunąć ten produkt?")) {
      fetch('/Produkt/usun/' + produktId, {
        method: 'DELETE',
      })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Błąd usuwania produktu');
                }
                // Zaktualizowanie listy produktów na stronie
                updateProduktyList();
              })
              .catch(error => console.error('Błąd:', error));
    }
  }

  // Funkcja do aktualizacji listy produktów na stronie za pomocą AJAX
  function updateProduktyList() {
    fetch('/Produkt/lista')
            .then(response => response.text())
            .then(html => {
              // Znajdź element zawierający listę produktów i zaktualizuj jego zawartość
              var produktyContainer = document.getElementById('produkty-container');
              if (produktyContainer) {
                produktyContainer.innerHTML = html;
              }
            })
            .catch(error => console.error('Błąd:', error));
  }

</script>


  <div class="przyciskdodaj">
    <a class="button2" href="/Produkt/dodajprodukt">Dodaj produkt</a>
  </div>


</div>
</div>
</body>

</html>
