<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lista_zamowien.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Lista zamówień</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">
    </div>
    <div class="logo-container">
        <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </div>
    <div class="icon-container-right">
        <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">
        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </div>
</div>



<div class="tytul">Lista Zamówień</div>

<div class="center">
    <a class="button" asp-action="Create">Zrealizowane</a>
    <a class="button" asp-action="Create">W trakcie realizacji</a>
    <a class="button" asp-action="Create">Anulowane</a>

</div>

<div class="bloki" th:each="zamowienie : ${zamowienieList}">
    <div class="info">
        <p class="lewytekst" th:text="'Numer zamówienia: ' + ${zamowienie.idZamowienia}"></p>
        <p class="prawytekst" th:text="'Wartość zamówienia: ' + ${zamowienie.wartoscZamowienia}"></p>
    </div>
    <div class="szczegoly">
        <a class="button2" th:href="@{'/Zamowienie/edytuj/' + ${zamowienie.idZamowienia}}">Szczegóły</a>
    </div>
</div>


<!--<div class="bloki">-->
<!--    <div class="info">-->
<!--        <p class=lewytekst>Numer zamówienia:</p>-->
<!--        <p class=prawytekst>Wartość zamówienia:</p>-->
<!--    </div>-->
<!--    <div class="szczegoly">-->
<!--        <a class="button2" asp-action="Create">Szczegóły</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="bloki">-->
<!--    <div class="info">-->
<!--        <p class=lewytekst>Numer zamówienia:</p>-->
<!--        <p class=prawytekst>Wartość zamówienia:</p>-->
<!--    </div>-->
<!--    <div class="szczegoly">-->
<!--        <a class="button2" asp-action="Create">Szczegóły</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="bloki">-->
<!--    <div class="info">-->
<!--        <p class=lewytekst>Numer zamówienia:</p>-->
<!--        <p class=prawytekst>Wartość zamówienia:</p>-->
<!--    </div>-->
<!--    <div class="szczegoly">-->
<!--        <a class="button2" asp-action="Create">Szczegóły</a>-->
<!--    </div>-->
<!--</div>-->


</body>


</html>