<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/kat.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Lista produktów</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
        <!-- <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon"> -->
        <a href="/klienci/edytuj/1">
            <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
        </a>
    </div>
    <div class="logo-container">
        <a href="/home">
            <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
        </a>
    </div>
    <div class="icon-container-right">
        <a href="/koszyk/1">
            <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">
        </a>
    </div>
</div>


    <div class="navbar">
        <div class="navbar-line"></div>
        <a href="/Produkt/lista2/5">Bluzy</a>
        <a href="/Produkt/lista2/3">Kurtki</a>
        <a href="/Produkt/lista2/1">Koszulki</a>
        <a href="/Produkt/lista2/2">Spodnie</a>
        <a href="/Produkt/lista2">Przeglądaj wszystko</a>
    </div>

</div>
<div class="kolcek">
    <div class="klocek2">
        <button onclick="window.location.href='/Produkt/lista2';" class="form-control">Pokaż wszystkie produkty</button>
        <div class="form-group">
            <label for="idKat" class="control-label"></label>
            <select id="idKat" name="kategoria" class="form-control" required onchange="redirectToCategory()">
                <option value="" disabled>Wybierz kategorię</option>
                <option value="">Wszystkie kategorie</option>
                <th:block th:each="kategoria : ${kategorie}">
                    <option th:value="${kategoria.idKategorii}" th:text="${kategoria.nazwaKategorii}"
                            th:selected="${kategoria.idKategorii == param.idKat}"></option>
                </th:block>
            </select>
        </div>

        <div class="klocek2">
            <div class="form-group">
                <label for="minPrice" class="control-label"></label>
                <input type="number" id="minPrice" placeholder="Cena min." class="form-control2" onkeyup="filterProducts()">
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="maxPrice" class="control-label"></label>
                <input type="number" id="maxPrice" placeholder="Cena max." class="form-control2" onkeyup="filterProducts()">
                <span class="text-danger"></span>
            </div>
        </div>



        <div class="klocek2">
            <div class="form-group">
                <label for="searchProduct" class="control-label"></label>
<!--                <img src="" th:src="@{/Grafiki/search.png}" class="obrazgwiazdka">-->
                <input type="text" id="searchProduct" class="form-control3" placeholder="Wpisz nazwę produktu" onkeyup="searchProducts()">
                <span id="searchError" class="text-danger"></span>
            </div>
        </div>
</div>
    <div class="our-products">
        <!-- Iteracja przez listę produktów -->
        <div th:each="produkt : ${produktList}" class="ocena">
            <div class="ocenaproduktu">
                <!-- Otaczanie obrazka linkiem, który prowadzi do strony produktu -->
                <a th:href="@{/Produkt/{id}(id=${produkt.idProduktu})}">
                    <img crossorigin="anonymous" th:src="@{${produkt.urlzdjecia}}" alt="Zdjęcie produktu" class="obrazek">
                </a>
                <div class="produkttekst">
                    <!-- Link do strony produktu po kliknięciu w nazwę -->
                    <a th:href="@{/Produkt/{id}(id=${produkt.idProduktu})}" th:text="${produkt.nazwa}" class="tytulproduktu"></a>
                    <p th:text="${produkt.cena} + ' zł'" class="cenaproduktu"></p>
                    <p th:text="${produkt.rozmiar} " class="rozmiarx"></p>
                </div>
            </div>
        </div>
            <div class="gwiazdki">
                <div class="stars-container">
                </div>
            </div>
            <div class="right-info">
                <p class="add-button">
                    <a th:href="@{/dodajDoKoszyka/{idKlienta}/{idProduktu}/1(idKlienta=${session.userId}, idProduktu=${produkt.idProduktu})}" class="add-to-cart-button">Dodaj do koszyka</a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };

    function redirectToCategory() {
        var categoryId = document.getElementById('idKat').value;
        if (categoryId) {
            window.location.href = `/Produkt/lista2/${categoryId}`;
        }
    }
</script>

<script>
    function filterProducts() {
        var inputName = document.getElementById('searchProduct').value.toLowerCase();
        var minPrice = parseFloat(document.getElementById('minPrice').value);
        var maxPrice = parseFloat(document.getElementById('maxPrice').value);
        var productList = document.querySelectorAll('.ocena');

        productList.forEach(function(product) {
            var productName = product.querySelector('.tytulproduktu').textContent.toLowerCase();
            var productPrice = parseFloat(product.querySelector('.cenaproduktu').textContent.replace(' zł', '').trim());

            var isNameMatch = inputName ? productName.includes(inputName) : true;
            var isPriceMatch = (isNaN(minPrice) || productPrice >= minPrice) && (isNaN(maxPrice) || productPrice <= maxPrice);

            // Sprawdzanie, czy produkt spełnia oba kryteria
            if (isNameMatch && isPriceMatch) {
                product.style.display = '';
            } else {
                product.style.display = 'none';
            }
        });
    }

    // Dodanie listenerów do pól wejściowych
    document.getElementById('searchProduct').addEventListener('keyup', filterProducts);
    document.getElementById('minPrice').addEventListener('keyup', filterProducts);
    document.getElementById('maxPrice').addEventListener('keyup', filterProducts);
</script>

</body>
</html>
