<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/logowanie.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Strona Logowania</title>
</head>
<body>

<div class="container">
    <div class="circle-area">
        <div class="circle">
            <div class="circle-text">Witamy ponownie!</div>
            <div class="circle-text2">Zarejestruj się, aby korzystać w pełni ze strony</div>
            <button type="button">Przycisk</button>
        </div>
    </div>
    <div class="registration-form">
        <h2>Logowanie</h2>
        <form action="#" th:action="@{/logowanie}" th:object="${logowanieForm}" method="post">
            <input type="text" th:field="*{login}" placeholder="Login">
            <input type="password" th:field="*{haslo}" placeholder="Hasło">
            <select th:field="*{rodzajUzytkownika}">
                <option value="klient">Klient</option>
                <option value="pracownik">Pracownik</option>
            </select>
            <button type="submit">Zaloguj się</button>
        </form>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>

</body>
</html>
