<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rejestracja.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Strona Rejestracji</title>
</head>
<body>

<div class="container">
<!--    <div> th:if="${param.succes} class="alert alert-success"</div>-->
    <div class="registration-form">
        <h2>Rejestracja</h2>
        <form action="#" th:action="@{/klienci/dodajform}" th:object="${klient}" method="post">
            <input type="text" th:field="*{imie}" placeholder="Imię">
            <input type="text" th:field="*{nazwisko}" placeholder="Nazwisko">
<!--            <input type="text" th:field="*{adresId.ulica}" placeholder="Adres 1">-->
<!--            <input type="text" th:field="*{adresId.kodPocztowy}" placeholder="Adres 2 (opcjonalnie)">-->
            <input type="email" th:field="*{email}" placeholder="E-mail">
            <input type="text" th:field="*{login}" placeholder="Login">
            <input type="password" th:field="*{haslo}" placeholder="Hasło" id="haslo">
            <input type="password" placeholder="Powtórz hasło" id="potwierdzHaslo">
            <button type="submit" onclick="return sprawdzHasla()">Zarejestruj się</button>

            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
        </form>
    </div>

    <script>
        function sprawdzHasla() {
            var haslo = document.getElementById("haslo").value;
            var potwierdzHaslo = document.getElementById("potwierdzHaslo").value;
            if (haslo !== potwierdzHaslo) {
                var errorMessage = "Hasło i potwierdzenie hasła są różne!";
                var errorDiv = document.querySelector(".error-message");
                errorDiv.innerHTML = "<p>" + errorMessage + "</p>";
                errorDiv.style.display = "block"; // Wyświetl div z komunikatem
                return false; // Przerwij wysyłanie formularza
            }
            return true; // Kontynuuj wysyłanie formularza
        }
    </script>

    <div class="circle-area">
        <div class="circle">
            <div class="circle-text">Stwórz konto</div>
            <div class="circle-text2">Tutaj znajdziesz formularz rejestracyjny.</div>
            <button type="button">Przycisk</button>
        </div>

    </div>
</div>

</body>
</html>
