<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/status_zamowienia.css">
    <link rel="icon" href="/Grafiki/ff.ico" type="image/png" size="32">
    <title>Status zamówienia</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
        <!-- <img src="/Grafiki/search.png" alt="Ikona lewa" class="icon"> -->
    </div>
    <div class="logo-container">
        <a href="/Pracownik/dzialzamowien">
            <img src="/Grafiki/ff.png" alt="Logo" class="logo">
        </a>
    </div>
    <div class="icon-container-right">
        <!-- <img src="/Grafiki/shopping-bag.png" alt="Ikona prawa" class="icon"> -->
        <img src="/Grafiki/user.png" alt="Ikona prawa" class="icon">
    </div>
</div>

<div class="tytul">Status zamówienia</div>

<div class="statuszamowienia">
    <div class="produkty">
        <div th:each="produktZamowienie : ${produktyZamowienia}">
            <div class="daneproduktu">
                <img crossorigin="anonymous" th:src="@{|${produktZamowienie.produkt.urlzdjecia}|}" class="obrazek">
                <div class="produkttekst">
                    <p class="tytulproduktu" th:text="${produktZamowienie.produkt.nazwa}">Bluza David Star</p>
                    <p class="cenaproduktu" th:text="${produktZamowienie.produkt.cena} + ' zł'">147,77 zł</p>
                    <p class="dostepnerozmiary" th:text="'Rozmiar: ' + ${produktZamowienie.produkt.rozmiar}">Rozmiar: M</p>
                    <p class="ilosc" th:text="'Ilość: ' + ${produktZamowienie.ilosc}">Ilość: 1</p>
                </div>
            </div>
        </div>
    </div>
    <div class="informacje" th:object="${zamowienieDto}">
        <p>Łączna wartość zamówienia: <span th:text="*{wartoscZamowienia}">0</span> PLN</p>
        <!-- <p>Numer faktury: <span th:text="*{numerFaktury}">474747</span></p> -->
        <div class="form-group">
            <select id="status" class="form-control" name="status">
                <option value="" disabled selected>Kategoria</option>
                <option value="Zrealizowane" th:selected="${zamowienieDto.status == 'Zrealizowane'}">Zrealizowane</option>
                <option value="W trakcie realizacji" th:selected="${zamowienieDto.status == 'W trakcie realizacji'}">W trakcie realizacji</option>
                <option value="Niemożliwe do realizacji" th:selected="${zamowienieDto.status == 'Niemożliwe do realizacji'}">Niemożliwe do realizacji</option>
                <option value="Oczekujące" th:selected="${zamowienieDto.status == 'Oczekujące'}">Oczekujące</option>
            </select>
        </div>
    </div>
</div>

</body>
</html>
