<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/strona_admin.css">
  <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
  <title>Strona admina</title>
</head>
<body>

<div class="header">
  <div class="icon-container-left">
  </div>
  <div class="logo-container">
    <a href="/Pracownik/administrator">
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </a>
  </div>
  <div class="icon-container-right">
    <a href="/logowanie">
      <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </a>
  </div>
</div>

  <div class="navbar-line"></div>


<div class="container">
  <div class="order-section">
    <p>Administrator</p>
    <button>
      <a href="/Pracownik/lista">Zarządzanie pracownikami</a>
    </button>
    <button>
      <a href="/Recenzja/lista">Zarządzanie recenzjami</a>
    </button>
  </div>
</div>

<footer>
  <p>Zawartość tej strony</p>
  <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
  window.onload = function() {
    var footer = document.querySelector("footer");
    var bodyHeight = document.body.offsetHeight;
    var windowHeight = window.innerHeight;

    if (bodyHeight < windowHeight) {
      footer.style.position = "fixed";
      footer.style.bottom = "0";
      footer.style.width = "100%";
    }
  };
</script>

</body>
</html>
