<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/strona_glowna.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Strona główna</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
<!--        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->
        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </div>
    <div class="logo-container">
        <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </div>
    <div class="icon-container-right">
        <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">
<!--        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">-->
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <a href="#">Bluzy</a>
    <a href="#">Kurtki</a>
    <a href="#">Koszulki</a>
    <a href="#">Spodnie</a>
    <a href="#">Przeglądaj wszystko</a>
</div>

<div class="advert-section">
    <div class="caption-big">
        <p>FASION</p>
        <p>FORWARD</p>

    </div>
    <div class="caption-small">
        Sprawdź nasze wszystkie produkty
    </div>
    <button class="button">Przycisk</button>
</div>

<div class="our-products">
    <div class="large-caption">
        Napis Duży
    </div>
    <div class="small-caption">
        Napis Mniejszy
    </div>
    <div class="more-info">
        <a href="">Zobacz więcej</a>
    </div>
<!--    <div class="images-container">-->
<!--        <div class="image">-->
<!--            <img src="3.jpg" alt="Zdjęcie 1">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 1<br>-->
<!--                Cena: 10 zł-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="image">-->
<!--            <img src="2.jpg" alt="Zdjęcie 2">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 2<br>-->
<!--                Cena: 15 zł-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="image">-->
<!--            <img src="1.jpg" alt="Zdjęcie 2">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 2<br>-->
<!--                Cena: 15 zł-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <iframe src="/home/1" scrolling="no"></iframe>
    <div class="small-caption">
        Napis Mniejszy
    </div>
    <div class="more-info">
        <a href="">Zobacz więcej</a>
    </div>
    <iframe src="/home/2" scrolling="no"></iframe>
<!--    <div class="images-container">-->
<!--        <div class="image">-->
<!--            <img src="ścieżka/do/zdjęcia1.jpg" alt="Zdjęcie 1">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 1<br>-->
<!--                Cena: 10 zł-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="image">-->
<!--            <img src="ścieżka/do/zdjęcia2.jpg" alt="Zdjęcie 2">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 2<br>-->
<!--                Cena: 15 zł-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="small-caption">
        Napis Mniejszy
    </div>
    <div class="more-info">
        <a href="">Zobacz więcej</a>
    </div>
    <iframe src="/home/3" scrolling="no"></iframe>
<!--    <div class="images-container">-->
<!--        <div class="image">-->
<!--            <img src="ścieżka/do/zdjęcia1.jpg" alt="Zdjęcie 1">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 1<br>-->
<!--                Cena: 10 zł-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="image">-->
<!--            <img src="ścieżka/do/zdjęcia2.jpg" alt="Zdjęcie 2">-->
<!--            <div class="image-caption">-->
<!--                Nazwa Zdjęcia 2<br>-->
<!--                Cena: 15 zł-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>
