<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/twoje_konto.css">
    <link rel="icon" href="/Grafiki/ff.ico" type="image/png" sizes="32">
    <title>Twoje konto</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
<!--        <img src="/Grafiki/search.png" alt="Ikona lewa" class="icon">-->
        <img src="/Grafiki/user.png" alt="Ikona prawa" class="icon">
    </div>
    <div class="logo-container">
        <img src="/Grafiki/ff.png" alt="Logo" class="logo">
    </div>
    <div class="icon-container-right">
        <img src="/Grafiki/shopping-bag.png" alt="Ikona prawa" class="icon">
<!--        <img src="/Grafiki/user.png" alt="Ikona prawa" class="icon">-->
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <a href="#">Odnośnik 1</a>
    <a href="#">Odnośnik 2</a>
    <a href="#">Odnośnik 3</a>
    <a href="#">Odnośnik 4</a>
    <a href="#">Odnośnik 5</a>
</div>

<p class="account-text">Twoje konto</p>

<div class="container">
    <form id="account-form" action="#" th:action="@{/klienci/edytuj/{klientId}(klientId=${klient.idKlienta})}" method="post">
        <div class="column">
            <!-- Dane klienta -->
            <input type="text" name="imie" placeholder="Imię" th:value="${klient.imie}">
            <input type="text" name="nazwisko" placeholder="Nazwisko" th:value="${klient.nazwisko}">
            <input type="email" name="email" placeholder="E-mail" th:value="${klient.email}">
            <input type="password" name="haslo" placeholder="Hasło" th:value="${klient.haslo}">
            <input type="password" id="change-password" placeholder="Zmień hasło">
        </div>
        <div class="column">
            <!-- Dane adresowe -->
            <input type="text" name="ulica" placeholder="Ulica" th:value="${klient.adresId.ulica}">
            <input type="text" name="nrDomu" placeholder="Nr domu" th:value="${klient.adresId.nrDomu}">
            <input type="text" name="nrMieszkania" placeholder="Nr mieszkania" th:value="${klient.adresId.nrMieszkania}">
            <input type="text" name="kodPocztowy" placeholder="Kod pocztowy" th:value="${klient.adresId.kodPocztowy}">
            <input type="text" name="miejscowosc" placeholder="Miejscowość" th:value="${klient.adresId.miejscowosc}">
        </div>
    </form>
</div>

<div class="buttons">
    <button id="save-button">Zapisz zmiany</button>
    <button id="cancel-button">Anuluj</button>
</div>

<script>
    document.getElementById("save-button").addEventListener("click", function() {
        document.getElementById("account-form").submit();
    });


    document.getElementById("cancel-button").addEventListener("click", function() {
        window.location.href = "@{/klienci/lista}";
    });

</script>

<footer>
    <p>Zawartość tej strony</p>
    <img src="/Grafiki/ff.png" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>
