<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/zarzadzanie_recenzjami.css">
    <link rel="icon" th:href="@{/Grafiki/ff.ico}" type="image/png" size="32">
    <title>Zarządzanie recenzjami</title>
</head>
<body>

<div class="header">
    <div class="icon-container-left">
<!--        <img src="" th:src="@{/Grafiki/search.png}" alt="Ikona lewa" class="icon">-->

    </div>
    <div class="logo-container">
        <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo">
    </div>
    <div class="icon-container-right">
<!--        <img src="" th:src="@{/Grafiki/shopping-bag.png}" alt="Ikona prawa" class="icon">-->
        <img src="" th:src="@{/Grafiki/user.png}" alt="Ikona prawa" class="icon">
    </div>
</div>

<div class="navbar">
    <div class="navbar-line"></div>
    <a href="#">Odnośnik 1</a>
    <a href="#">Odnośnik 2</a>
    <a href="#">Odnośnik 3</a>
    <a href="#">Odnośnik 4</a>
    <a href="#">Odnośnik 5</a>
</div>

<p class="review-text">Zarządzanie recenzjami</p>

<div id="recenzje-container">
    <div th:each="recenzja : ${recenzjaList}" class="reviews">
        <button class="close-button" th:attr="onclick='deleteRecenzja(\'' + ${recenzja.idRecenzji} + '\')'">&#10006;</button>
        <div class="rating">
            <img th:each="star : ${#numbers.sequence(1, recenzja.ocena)}" src="" th:src="@{/Grafiki/star.png}" alt="Gwiazdka" class="star">
        </div>
        <p th:text="${recenzja.tresc}"></p>
    </div>
</div>

<script>
    function deleteRecenzja(recenzjaId) {
        if (confirm("Czy na pewno chcesz usunąć tę recenzję?")) {
            fetch('/Recenzja/usun/' + recenzjaId, {
                method: 'DELETE',
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Błąd usuwania recenzji');
                    }
                    // Zaktualizowanie listy recenzji na stronie
                    updateRecenzjeList();
                })
                .catch(error => console.error('Błąd:', error));
        }
    }

    // Funkcja do aktualizacji listy recenzji na stronie za pomocą AJAX
    function updateRecenzjeList() {
        fetch('/Recenzja/lista')
            .then(response => response.text())
            .then(html => {
                // Znajdź element zawierający listę recenzji i zaktualizuj jego zawartość
                var recenzjeContainer = document.getElementById('recenzje-container');
                if (recenzjeContainer) {
                    recenzjeContainer.innerHTML = html;
                }
            })
            .catch(error => console.error('Błąd:', error));
    }


</script>


<!--<div class="reviews">-->
<!--    <button class="close-button">&#10006;</button>-->
<!--    <div class="rating">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--    </div>-->
<!--    <p>Opis oceny</p>-->
<!--</div>-->

<!--<div class="reviews">-->
<!--    <button class="close-button">&#10006;</button>-->
<!--    <div class="rating">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--        <img src="star.png" alt="Gwiazdka" class="star">-->
<!--    </div>-->
<!--    <p>Opis oceny</p>-->
<!--</div>-->


<footer>
    <p>Zawartość tej strony</p>
    <img src="" th:src="@{/Grafiki/ff.png}" alt="Logo" class="logo-footer">
</footer>

<script>
    window.onload = function() {
        var footer = document.querySelector("footer");
        var bodyHeight = document.body.offsetHeight;
        var windowHeight = window.innerHeight;

        if (bodyHeight < windowHeight) {
            footer.style.position = "fixed";
            footer.style.bottom = "0";
            footer.style.width = "100%";
        }
    };
</script>

</body>
</html>
